@font-face {
  font-family: "spooftrial regular";
  src: local("ProximaNova"),
    url(./fonts/SpoofTrial/SpoofTrial-Regular.otf) format("opentype");
}

@font-face {
  font-family: "faible regular";
  src: local("ProximaNova"),
    url(./fonts/Faible/Faible-Regular.otf) format("opentype");
}

body {
  margin: 0;
  font-family: "faible regular";
  background-color: #FFF8EF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
